// ------------
// primary colors
// ------------

$primary-blue: #008abc;
$primary-gray-3: #333333;
$primary-gray-6: #666666;
$primary-gray-9: #999999;

// ------------
// secondary colors
// ------------

$secondary-gray: #394a6d;
$secondary-gray-light: #d2d2d2;
